{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense_category in expense_categories %}
            <tr>
                <td>{{expense_category.name}}</td>
                <td>{{expense_category.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
